.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
  padding: .75em;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.card-container h3 {
  font-size: 1rem;
}

.card a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .card {
    width: 350px;
  }
}
